---
import {contactDefaultValues, getContactMessage, getValuesFor, type ContactState} from "@/actions/utils"
import {Alert, AlertDescription, AlertTitle} from "@/components/ui/alert"
import Layout from "@/layouts/layout.astro"
import {formNavs, formTanstackFormNavs} from "@/lib/utils"
import {actions} from "astro:actions"
import Form from "./_form"

// DATA ************************************************************************************************************************************
const state = Astro.getActionResult(actions.sendEmail) ?? {data: false, error: undefined}
const values = await getValuesFor({
  actionName: "sendEmail",
  defaultValues: contactDefaultValues,
  shouldSkip: (state: ContactState) => !!state.data,
})(Astro.request, state)
const message = getContactMessage(state)
---

<Layout aside={formNavs} tabs={formTanstackFormNavs}>
  <Form defaultState={state} defaultValues={values}>
    {
      message && (
        <Alert variant={message.code === "SUCCESS" ? "default" : "destructive"}>
          <AlertTitle>{message.code === "SUCCESS" ? "Succès" : "Erreur"}</AlertTitle>
          <AlertDescription>{message.description}</AlertDescription>
        </Alert>
      )
    }
  </Form>
</Layout>
